.xe-day {
  background-color: #ffffff;
  width: 75%;
  margin: 10px auto 10px;
  
  padding-top: 50px;
  padding-left: 45px;
  border-radius: 15px;
  box-shadow: 0px 1px 4px #00000040;
  color: #1e1e1e;
  font-family: "Poppins-SemiBold", Helvetica;
  display: flex;
  justify-content:space-between;

  .cart-title {
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
  }
  .items-block {
    display: flex;
    flex-direction: column;
  }
  .border-div {
    height: 0px;
    border: 1.5px #d0cfcf solid;
    margin-top: 24px;
    max-width: 608px;
  }
  .span-block{
    margin-top: 24px;
    margin-bottom: 28px;
    .span-title{
        font-weight: 500;
        font-size: 18px;
    }
    .span-text{
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
    }
  }
 
}

.item-block{
    width: 100%;
}