.custom-input {
  background-color: #6268c6;
  border-radius: 6px;
  height: 40px;
  padding: 11px 18px;
  border: none;
  margin-bottom: 13px;
  outline: none;
  color: #c4c4c4;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
}

.with-placeholder-style::placeholder {
  color: #c4c4c4;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
}

.custom-input:focus {
  outline: 2px solid white;

}
.error-message{
  color: red;
  font-size:12px;
  margin-top: -10px;
}
